<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.smarthome.sap"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="cn.smarthome.sap.service.SocketService"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:name="cn.smarthome.sap.app.SapAPP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.smarthome.sap.activity.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.smarthome.sap.service.SocketService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.smarthome.sap.service.SocketService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.smarthome.sap.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.smarthome.sap.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.activity.ItemActivity"
            android:label="@string/title_activity_item"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.activity.SceneActivity"
            android:label="@string/title_activity_scene"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.activity.AreaActivity"
            android:label="@string/title_activity_area"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.TestActivity"
            android:label="@string/title_activity_area"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- android:name="cn.smarthome.sap.TestActivity" -->
        <activity
            android:name="cn.smarthome.sap.InternetImageActivity"
            android:label="@string/title_activity_internet_image"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.smarthome.sap.activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>